/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.calculator{
    border: 3px solid black;
    height: 600px;
    width: 450px;
    margin-top: 50px;
    border-radius: 25px;
    font-size: 35px;
}

#output{
    border: 3px solid black;
    border-radius: 25px;
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding-right: 10px;
    margin: 25px;
    margin-top: 40px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#previousEquation, #currentInput-results{
    vertical-align: bottom;
}


#inputButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 25px;
}

button {
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 5px;
    padding-top: 15px;
}

.delete{
    width: 150px;
}

#equals{
    width: 200px;
}



/* Additional Style */
body {
    background-image: url('../img/background.jpg');
    background-size: 100vmax;
}

#currentInput-results{
    font-size: 60px;
}
#display2
    font-size: 30px;
}
#previousEquation {
    font-size: 20px;

}

.calculator{
    background-color: rgba(0, 0, 0, 0.74);

}


.number {
    background-color: rgba(16, 101, 170, 0.836);
    font-size: 35px;
    color: rgba(255, 255, 255, 0.89);
}

.operations {
    background-color: rgba(13, 156, 156, 0.932);
    font-size: 40px;
}

#output {
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
}